/* General Styles */
body {
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50; /* Color más oscuro para mejor contraste */
    margin-bottom: 1rem;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef; /* Color más sutil para hover */
}

.img-thumbnail {
    width: 60px; /* Tamaño un poco mayor para mejor visibilidad */
    height: 60px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 4px;
}

.table thead th {
    text-align: center;
    background-color: #28a745; /* Color de fondo del encabezado */
    color: white; /* Texto blanco para contraste */
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.table tbody td img {
    max-width: 80px; /* Tamaño mejorado para mejor visibilidad */
    height: auto;
}

.card {
    border-radius: 12px; /* Bordes más suaves */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    border: 1px solid #e0e0e0; /* Borde sutil para las tarjetas */
    transition: box-shadow 0.3s ease; /* Transición suave */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efecto al pasar el mouse */
}

.btn-block {
    width: 100%;
    margin-top: 15px; /* Espaciado mejorado */
}

.card-header {
    font-size: 1.25rem; /* Tamaño de fuente ligeramente mayor */
    background-color: #28a745; /* Color de fondo coherente */
    color: white;
    border-bottom: 1px solid #e0e0e0; /* Borde sutil para el encabezado */
}

.card-body p {
    font-size: 1rem;
    margin-bottom: 10px; /* Espaciado mejorado */
}

.btn-danger, .btn-success {
    border-radius: 4px; /* Bordes redondeados para botones */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333; /* Color de hover */
    border-color: #bd2130;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838; /* Color de hover */
    border-color: #1e7e34;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 0 15px; /* Espaciado en el contenedor principal */
}

footer {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Asegura que el footer se mantenga al final del contenido */
}
